*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Bangers', cursive;
}

.bg{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: black;
}

.bottom-left{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 22em;
	height: 45em;

}

.title{
	display: flex;
	width: 40em;
	height: 3em;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title p{
	color: white;
	font-size: 2em;
}

.midinfo{
	display: flex;
	flex-direction: column;
	height: 45em;
	width: 40em;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: auto;

}


.center{
	display: flex;
	width: 40em;
	height: 30em;
	background-color: green;
	margin-bottom: 1em;
	margin-top: 1em;
}

.bottom-right{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 22em;
	height: 45em;
}

.about{
	display: flex;
	width: 40em;
	height: 3em;
	background-color: green;
}

ul{
	display: flex;
	flex-direction: row;
	width:40em;	
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

li a{
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

a:hover{
	color: yellow;
}

@media screen and (max-width:1350px){
	.bottom-left{
		width: 15em;
		height: 45em;

	}

	.bottom-right{
		width: 15em;
		height: 45em;

	}

	.title{
		width: 30em;
		height: 3em;
		
	}

	.title p{
		color: white;
		font-size: 2em;
	}

	.center{
		width: 30em;
		height: 20em;
		
	}

	.about{
		width: 30em;
		height: 3em;
	}

}


@media screen and (max-width:950px){
	.bottom-left{
		width: 10em;
		height: 45em;

	}

	.bottom-right{
		width: 10em;
		height: 45em;

	}

	.title{
		width: 20em;
		height: 2em;
		
	}

	.title p{
		color: white;
		font-size: 1em;
	}

	.center{
		width: 20em;
		height: 15em;
		
	}

	.about{
		width: 20em;
		height: 2em;
	}

	li a{
		font-size: 1em;
		
	}

}

@media screen and (max-width:768px){
	.bottom-left{
		width: 5em;
		height: 45em;

	}

	.bottom-right{
		width: 5em;
		height: 45em;

	}

	.title{
		width: 15em;
		height: 2em;
		
	}

	.title p{
		color: white;
		font-size: 1em;
	}

	.center{
		width: 15em;
		height: 13em;
		
	}

	.midinfo{
		width: 20em;
	}

	.about{
		width: 15em;
		height: 2em;
	}

	li a{
		font-size: 1em;
		
	}

}

.img1{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img2{
	width: 100%;
	height: 100%;
}

.project{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: black;
	color: white;
}

.middle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 40em;
	height: 30em;

}

.middle h2 ,.names h2{
	text-align: center;
	font-size: 3em;

}

.middle p{
	font-size: 1.5em;
	margin-top: 1.5em;
	text-align: justify;
}

.home{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2em;
	text-decoration: none;

}

.authors{
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: black;
	color: white;
}

.names{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 60em;
	height: 30em;

}

.content{
	width:100%;
	height: 25em;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}


.A_img1{
	position: relative;
	width: 15em;
	height: 15em;
	border :2px solid white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.A_img1:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.nme{
	text-align: center;
	font-size: 2em;
}

.txt{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 17px;
	transform: translate(-50%, -50%);
}

.sceneContainer{
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: black;
}

.scene{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 35em;
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  margin: 100px 0px;
}


.end h3{
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 20px;

}

.end{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 35em;
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

iframe{
	width: 50em;
	height: 35em;
}

.icons{
	display: flex;
	justify-content: space-evenly;
	width: 30%;
	font-size: 30px;
}

.icons a{
	color: white;
	text-decoration: none;
}

.icons a:hover{
	font-size: 1.3em;
}

.home1{
	position: fixed;
	top: 0;
	left: 0;
	font-size: 2em;
	text-decoration: none;
}

.sceneimg{
	width: 100%;
	height: 100%;
}
