/*Applies to page*/
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Bangers', cursive;
}

/*Background*/
.bg{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background-color: black;
}


/*left screen image*/
.bottom-left{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 22em;
	height: 45em;

}

/*Title*/
.title{
	display: flex;
	width: 40em;
	height: 3em;
	background-color: green;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title p{
	color: white;
	font-size: 2em;
}

/*Middle screen items*/
.midinfo{
	display: flex;
	flex-direction: column;
	height: 45em;
	width: 40em;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: auto;

}

/*Middle screen picture*/
.center{
	display: flex;
	width: 40em;
	height: 30em;
	margin-bottom: 1em;
	margin-top: 1em;
}

/*Right screen image*/
.bottom-right{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 22em;
	height: 45em;
}

/*play/pause Button*/
button i{
	font-size: 1.8em;
}

/*Audio*/
.audio-div{
	position: absolute;
	top: 0;
	right:0;
	width: 40px;
}


/*About div*/
.about{
	display: flex;
	width: 40em;
	height: 3em;
	background-color: green;
}

ul{
	display: flex;
	flex-direction: row;
	width:40em;	
	justify-content: space-evenly;
	align-items: center;
	list-style-type: none;
}

li a{
	font-size: 1.5em;
	text-decoration: none;
	color: white;
}

a:hover{
	color: yellow;
}


/*Images*/
.img1{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.img2{
	width: 100%;
	height: 100%;
}


/*about project page*/
.project{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #2C3E50; 
	background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50); 
	background: linear-gradient(to right, #4CA1AF, #2C3E50);
	color: white;
}

.middle {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 40em;
	height: 30em;

}

.middle h2 ,.names h2{
	text-align: center;
	font-size: 3em;

}

.middle p{
	font-size: 1.5em;
	margin-top: 1.5em;
	text-align: justify;
	font-family: serif;
}

/*Home link*/
.home{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2em;
	text-decoration: none;

}

/*Authors page*/
.authors{
	position: relative;
	width: 100%;
	height: 100vh;
	background: #16BFFD; 
	background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);
	background: linear-gradient(to right, #CB3066, #16BFFD);

	color: white;
}

.names{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 60em;
	height: 30em;

}

.content{
	width:100%;
	height: 25em;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: white;
}


.A_img1{
	position: relative;
	width: 15em;
	height: 15em;
	border :2px solid white;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.A_img1:hover .overlay {
  opacity: 1;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
}

.nme{
	text-align: center;
	font-size: 2em;
	font-family: serif;
}

.txt{
	color: white;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	font-size: 17px;
	transform: translate(-50%, -50%);
	font-family: serif;
}

/*Scenes page*/
.s_page{
	width: 100%;
	background: #67b26f;
  background: -webkit-linear-gradient(to right, #67b26f, #4ca2cd);
  background: linear-gradient(to right, #67b26f, #4ca2cd); 
}

.sceneContainer{
	display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.scene{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
  height: 35em;
  width: 50em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid white;
  margin: 100px 0px;
}


.end h3{
	color: white;
	font-size: 30px;
	font-family: sans-serif;
	text-align: center;
	margin-bottom: 20px;

}

.end{
  height: 35em;
  width: 50em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0px;
}

iframe{
	width: 50em;
	height: 35em;
}

.icons{
	display: flex;
	justify-content: space-evenly;
	width: 30%;
	font-size: 30px;
}

.icons a{
	color: white;
	text-decoration: none;
}

.icons a:hover{
	font-size: 1.3em;
}

.home1{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 2em;
	text-decoration: none;
	z-index: 999;
}


/*Responsive design*/
@media screen and (max-width:1350px){
	.bottom-left{
		width: 15em;
		height: 45em;

	}

	.bottom-right{
		width: 15em;
		height: 45em;

	}

	.title{
		width: 30em;
		height: 3em;
		
	}

	.title p{
		color: white;
		font-size: 2em;
	}

	.center{
		width: 30em;
		height: 20em;
		
	}

	.about{
		width: 30em;
		height: 3em;
	}

	.scene{
		height: 30em;
  		width: 40em;
	}

	.end , iframe {
		height: 30em;
  		width: 40em;
	}



}

@media screen and (max-width:950px){
	.bottom-left{
		width: 10em;
		height: 45em;

	}

	.bottom-right{
		width: 10em;
		height: 45em;

	}

	.title{
		width: 20em;
		height: 2em;
		
	}

	.title p{
		color: white;
		font-size: 1em;
	}

	.center{
		width: 20em;
		height: 15em;
		
	}

	.about{
		width: 20em;
		height: 2em;
	}

	li a{
		font-size: 1em;
		
	}

	.scene{
		height: 20em;
  		width: 30em;
	}

	.end , iframe {
		height: 20em;
  		width: 30em;
	}

	.end h3{
		font-size: 20px;

	}

	.icons{
		
		font-size: 20px;
	}

}


@media screen and (max-width:768px){

	body{
		overflow-x: hidden;
	}

	.bottom-left{
		width: 5em;
		height: 45em;

	}

	.bottom-right{
		width: 5em;
		height: 45em;

	}

	.title{
		width: 15em;
		height: 2em;
		
	}

	.title p{
		color: white;
		font-size: 1em;
	}

	.center{
		width: 15em;
		height: 15em;
		
	}

	.about{
		width: 15em;
		height: 2em;
	}

	li a{
		font-size: 1em;
		
	}

	.midinfo{
		width: 20em;
	}

	.scene{
		height: 18em;
  		width: 22em;
	}

	.end , iframe {
		height: 18em;
  		width: 22em;
	}

	.end h3{
		font-size: 10px;

	}

	.icons{
		font-size: 10px;
	}

	button i{
		font-size: 1.5em;
	}

	.home1{
		font-size: 1em;
	}
}
